<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedRecipe.title }}</ion-title>
    <ion-buttons slot="end" (click)="deleteRecipe()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-img [src]="loadedRecipe.imageUrl"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1 class="ion-text-center">{{ loadedRecipe.title }}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let ig of loadedRecipe.ingredients">
          {{ ig }}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
