<ion-item-sliding class="ion-no-padding">
  <ion-item [routerLink]="['/recipes', recipeItem.id]">
    <ion-avatar slot="start">
      <ion-img [src]="recipeItem.imageUrl"></ion-img>
    </ion-avatar>
    <ion-label>{{ recipeItem.title }}</ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option>Delete</ion-item-option>
  </ion-item-options>
</ion-item-sliding>